[flake8]
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    W191
ignore = E203, E266, E501, W503, W605, E101
exclude = build/*
select = B,C,E,F,W,T4